<!--Card-->
<main class="card">
    <div class="mx-auto"></div>
    <header class="card_header">
      <img src="assets/images/20230309_183050.jpg" alt="Foto de perfil">
    </header>
    <section>
      <h2>Denisse Costilla</h2>
      <h3>FullStack Developer / QA junior</h3>
      <p>Me interesan los trabajos por proyectos, cuento para ello con orientación a resultados por objetivos, capacidad de adaptación, creatividad y búsqueda de soluciones innovadoras  </p>
      <section>
        <ul>
          <li><a href="#" class="fa fa-github"></a></li>
          <li><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
      </section>
       <footer>
         <p>Coded by Cynthia Denisse Costilla</p>
       </footer>
    </section>
  </main>
