 <!--Projects-->
 <section class="projects">
    <div class="container">
     <h2 class="subtitle">Mis Proyectos</h2>
     <div class="projects__grid">

      <article class="projects__item">
        <img src="assets/images/Proyecto-test.png" class="projects__img">
        <div class="projects__hover">
         <h2 class="projects__title">Proyecto</h2>
         <i class="far fa-file-alt projects__icon"></i>
        </div>
       </article>

       <article class="projects__item">
        <img src="" class="projects__img">
        <div class="projects__hover">
         <h2 class="projects__title">Proyecto</h2>
         <i class="far fa-file-alt projects__icon"></i>
        </div>
       </article>

       <article class="projects__item">
        <img src="" class="projects__img">
        <div class="projects__hover">
         <h2 class="projects__title">Proyecto</h2>
         <i class="far fa-file-alt projects__icon"></i>
        </div>
       </article>

       <article class="projects__item">
        <img src="" class="projects__img">
        <div class="projects__hover">
         <h2 class="projects__title">Proyecto</h2>
         <i class="far fa-file-alt projects__icon"></i>
        </div>
       </article>

       <article class="projects__item">
        <img src="" class="projects__img">
        <div class="projects__hover">
         <h2 class="projects__title">Proyecto</h2>
         <i class="far fa-file-alt projects__icon"></i>
        </div>
       </article>

     </div>
   </div>
  </section>
   


