<section class="fondo__experiencia"> 
       <img src="assets/images/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg"  class="w-100" alt=""> 
       <div class="content">
         <h3 class="subtitle mt-4 pb-3">Experiencias</h3>
         <p>Actualidad __  Desarrollo de páginas web en desarrollos independiente</p>

         <p>2022/12--2018/07__  Secretaria en Centro Integral de dermatología
                              Me ocupaba  de la recepción de los pacientes teniendo un buen manejo de las obras sociales con sus respectivas planillas y sistemas. Estoy familiarizada con las prácticas relacionadas a la salud y terminologías médicas. Así como el manejo ordenado de la agenda, la modificación y actualización de consultas, registrando cambios y cancelaciones. Controlaba la caja diaria.
         </p>
         <p>2019/11--2019/05__  Centro de Investigación de la Atmósfera Superior y Radiopropagación
                               __Universidad Técnologica Nacional-FRT__
                               Recopilación diaria de datos del sondador  de Bahia Blanca sobre la Atmósfera Ionizada.
          </p>
         <p>2013/10--2011/02__  Administrativa contable en Rc Equipamiento Comercial
                                Manejaba el sistema FoxPro, ingresaba datos, estaba a cargo del control de mercadería, el libro compra-venta, IVA, facturación. 
         </p>
         <p>2010/12--2009/01__  Vendedora en RC Equipamiento Comercial
                                Coordinaba un grupo de ventas, empleaba una buena organización y distribución zonal.
         </p>
       </div>
      </section>
  