   <!--Hard and Soft-->
   <div class="about__texts">
    <h2 class="subtitle">Hard and Soft Skills</h2>
    <p class="about__paragraph"></p>
    <div class="progress-circle-container">
      <div class="progress-circle progress-75"><span>Ingles</span></div>
      <div class="progress-circle progress-50"><span>Excel</span></div>
      <div class="progress-circle progress-30"><span>Power Bi</span></div>
      <div class="progress-circle progress-50"><span>C++</span></div>
      <div class="progress-circle progress-50"><span>JAVA</span></div>
      <div class="progress-circle progress-50"><span>HTML</span></div>
      <div class="progress-circle progress-50"><span>CSS</span></div>
      <div class="progress-circle progress-50"><span>SQL</span></div>  
      <div class="progress-circle progress-30"><span>Jira</span></div>  
      <div class="progress-circle progress-30"><span>Zephyr</span></div>  
      <div class="progress-circle progress-30"><span>Postman</span></div>  
      <div class="progress-circle progress-30"><span>UATs</span></div>  
      <div class="progress-circle progress-30"><span>UXUI</span></div>
      <div class="progress-circle progress-30"><span>Selenium</span></div>    
    </div>
  </div>

