/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: content-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(67deg, #FBAB7E 20%, #F7CE68 70%, #ffffff 110%);
}

/*Navbar*/

.carousel-inner img {
    height:auto;
    width: 100%;
}

button {
border: none;
min-width: 700;
display: flex;
font-size: 30px;
line-height: 60px;
text-align: center;
background:  #FBAB7E;
color:lightslategrey;
border-radius: 50%;
box-shadow: 2px 2px 5px rgb(0,0,0,.5);
transition: all .4s ease-in-out;
}

button:hover{
    transform: scale(1.2)
}

/*Login*/

.wrapper {
   position:absolute;
   top:40%;
   left:40%;
   transform: translate(-50%,-50%);
   width:600px;
   height:600px;
   background: transparent;
   border: 2px solid rgba(255,255,255,.5);
  backdrop-filter:blur(20px);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: height .2s ease;
  transform: scale(0);
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
     height: 600px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-600px);
  }

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(600px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
   transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top:0;
    right:0;
    width: 45px;
    height: 45px;
    background: #ffffff;
    font-size: 2em;
    color: #314652;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
 
.form-box h2 {
    font-size: 3.4em;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    right: 10px;
 }
 
 .input-box input {
    width: 60%;
    height: 60%;
    font-size: 1.7em;
    color: #314652;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
 
.input-box .icon {
    font-size: 1.7em;   
}

.remember-forgot {
    font-size:1.5em;
    font-weight:500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #ffff;
    margin-right: 10px;
}

.remember-forgot a {
    color:#ffffff;
    text-decoration: none;
}

.btn {
  width: 90%;
  height: 45px;
 outline: none;
 font-size: 1.7em; 
 font-weight: 500; 
}

.login-register {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}


/*Card Presentation*/

.card {
    width:450px;
    overflow:hidden;
    position: center;
    width: 450px;
    height:550px;
    left:50%;
    transform: translate(-50%,-50%);
    background:#FBAB7E;
    border-radius: 15px;
    box-shadow:7px 13px 37px rgb(0,0,0,.6);
    top: 9vh;
}
 
.card_header {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position:relative;
}

.card_header img {
    width:100%;
    height:200px;
}

section {
    padding:1px;
    overflow: hidden;
    text-align: center;
}

section h2 {
    margin: .5em 0;
}

section p {
    margin: 1em 0;
}

ul li {
    list-style: none;
    display:inline-block;
    margin: .5em .2em;
}

ul li a {
    text-decoration:none;
    color:#ffffff;
    background: #314652;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border-radius: 50%; 
    transition: all .3s ease-in-out;
}

ul li a:hover {
    transform: scale(1.2);
}

footer {
    width: 450px;
    height:350px;
    background:#314652;
    color: white;
    position: relative;
    text-align: left;
    
}

footer::before {
    content:'';
    position: absolute;
    border-bottom: 20px solid transparent;
    border-right: 450px solid #FBAB7E;
    top:0;
}

footer p {
    padding:30px;
}




/*Carrousel education*/
    h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
 }

 .slider-frame {
     width: 1280px;
     height: auto;
     margin: 50px auto 0;
     overflow: hidden;
   
 }

 .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 16s infinite;
 }

 .slider-frame li {
    list-style: none;
    width: 100%;
 }

 .slider-frame img {
    width: 100%;
 }

@keyframes slide {
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}

    25% {margin-left: -1280px;}
    45% {margin-left: -1280px;}

    50% {margin-left: -2560px;}
    70% {margin-left: -2560px;}

    75% {margin-left: -3900px;}
    95% {margin-left: -3900px;}
}

/*Gráficos de Hard and Soft Skills*/ 

body{ font-family: 'Open Sans Condensed', sans-serif; } h1 { color: #63B8FF; text-align: center; } .progress-circle { position: relative; display:inline-block; margin: 1.2rem; width: 140px; height: 140px; border-radius: 50%; background-color: #ebebeb; box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 15), -6px -6px 10px -1px rgba(255,255,255,7); } .progress-circle:after { content: ''; display: inline-block; width: 100%; height: 100%; border-radius: 50%; -webkit-animation: colorload 2s; animation: colorload 2s; } .progress-circle span { font-size: 1.2rem; color: #8b8b8b; position: absolute; left: 50%; top: 50%; display: block; width: 90px; height: 90px; line-height: 90px; margin-left: -45px; margin-top: -45px; text-align: center; border-radius: 50%; background: #fff; z-index: 1; box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255,255,255,0.7),-0.5px -0.5px 0px rgba(255,255,255,1), 0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05); } .progress-circle span:after { content: ""; font-weight: 600; color: #8b8b8b; }

 .progress-circle.progress-30:after { background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(198deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }  
 .progress-circle.progress-50:after { background-image: linear-gradient(-90deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
 .progress-circle.progress-75:after { background-image: linear-gradient(-90deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(350deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
 
 /* Projects*/

 .projects__grid {
     display: grid;
     height: 550px;
     grid-template-areas: 
     "img"; 
     gap:10px;
 }

 .projects__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

 .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
 }

 .projects__item:nth-of-type(1) {
    grid-area: img;
 }

 .projects__item:nth-of-type(2) {
    grid-area: img;
 }

 .projects__item:nth-of-type(3) {
    grid-area: img;
 }

 .projects__item:nth-of-type(4) {
    grid-area: img;
 }

 .projects__item:nth-of-type(5) {
    grid-area: img;
 }

 .projects__hover {
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor:pointer;
    transition: transform .3s ease-in-out;
 }

 .projects__item:hover .projects__hover {
    transform: translateX(0%);
 }

 .projects__icon {
    margin-top: 10px;
    font-size: 30px;
 }

 /*Experience*/

.fondo__experiencia {
margin: 150px auto;
position: relative;
overflow: hidden;
}

.fondo__experiencia img {
    width: 100%;
    height: 800px;
    transition: all .5s;
}

.fondo__experiencia:hover img {
    transform: scale(1.09);
}

.fondo__experiencia .content {
    background: rgb(0,0,0,.7);
    position:absolute;
    top: -100%;
    left: 0;
    text-align:justify;
     height: 100%;
     color: #fff;
     box-sizing: border-box;
}

.content  h3 {
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #808080;
    padding: 0 10px 20px 10px;
}

.content p {
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid #808080;
}

.fondo__experiencia:hover .content {
    top:0;
}

.img1 {
    position:absolute;   
    top:530%;
    left:8%;
    width:600px;
    height:300px;    
   }

.img2 {
     position:absolute;   
     top:530%;
     left:25%;
     width:600px;
     height:300px;   
}


.fa-solid.fa-download {
    width: 260px;
    height: 90px;
    border-radius: 40px;
    transform: translate(-240%, 1400%);
    font-size: 28px;
    z-index: 1;
    align-items:center;
    background: #63B8FF;
    color:#314652;
    transition: .7s ease-in-out;
}

.fa-solid.fa-download.active {
    font-size: 0;
    width: 50px;
    background:#ebebeb ;
}


 

