.img1 {
     position:absolute;   
     top:530%;
     left:8%;
     width:600px;
     height:300px;    
    }

 .img2 {
      position:absolute;   
      top:530%;
      left:30%;
      width:600px;
      height:300px;   
 }

 .example-button-row button,
 .example-button-row a {
   margin-left: 550px;
   display:flex;
   position: absolute;
   top:570%;
   color: #ffff;
   font-size: x-large;
 }
 
 .example-disabled {
   display: inline-block;
 }
 

  