.img1 {
     position:absolute;   
     top:570%;
     left:8%;
     width:600px;
     height:300px;    
    }
 
 .img2 {
      position:absolute;   
      top:570%;
      left:30%;
      width:600px;
      height:300px;   
 }

 