.img1 {
     position:absolute;   
     top:570%;
     left:8%;
     width:600px;
     height:300px;    
    }
 
 .img2 {
      position:absolute;   
      top:570%;
      left:30%;
      width:600px;
      height:300px;   
 }



 .fa-solid-fa-download {
     width: 260px;
     height: 90px;
     border-radius: 40px;
     transform: translate(-240%, 1400%);
     font-size: 28px;
     z-index: 1;
     align-items:center;
     background: #63B8FF;
     color:#314652;
     transition: .7s ease-in-out;
 }
 
 .fa-solid-fa-download.active {
     font-size: 0;
     width: 50px;
     background:#ebebeb ;
 }
 
 
  