     <section class="adios">
                <div class="progress-wrapper">
                  <div class="inner"></div>
                    <div class="circle">
                      <div class="bar left">
                        <div class="progress"></div>
                        <div class="bar rigth">
                         <div class="progress"></div>
                        </div>
                      </div>
                    </div>  
                </div>  
                <img src="assets/images/LinkedIn_Monochromatic.svg"  class="img1" alt="">
                <img src="assets/images/Sent messages _Isometric.svg"  class="img2" alt="">
                <div class="example-button-row">
                  <button mat-fab extended color="#63b8ff">Download</button>
                 <img src="assets/images/rodion-kutsaiev-IJ25m7fXqtk-unsplash.jpg" class="w-100" alt="">
                </div>        
     </section> 
              
              
