<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-navbar p-md-3">
      <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="assets/images/Logo Argentina Programa.png" alt="Logo Argentina Programa">
              </a>
              <button class="fa-solid fa-circle-user" type="button" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
              </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="nav-link active" aria-current="page" href="#"></div>
          </li>
        </ul>
      </div>
    </nav>
  </header> 


